body  {
   font-family: Trebuchet,Arial,Verdana,sans-serif;
   font-size: 80%;
   background-color: white;
   color: black;
}
table {
  border-collapse: collapse;
}
td, th {
  border: white 1px solid;
  padding: 8px;
}
tr {
  background-color: #aaa;
}

tr:nth-child(even) {
  background-color: #ddd;
}